.about-list{
	display:none;
}

#about{
	margin-top:2%;
	margin-left:0px;
	margin-right:0px;
}

.about{

}

section, div{
	padding-bottom:1%;
}

section h3{
	padding-left:1%;
	cursor:pointer;
}

.introduction{
	padding-top:4%;
}

ul li{
	font-size:24px;
}

.chat-toggle{
	font-size:1.1em;
}

.chat-section{
	margin-bottom:-2%;
	max-height: 400px;
}